body {
    background: lightgray;
}

h1 {
    text-decoration: underline;
}

footer {
    padding: 1.0rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}

.logo, .donate {
    padding: 15px;
}

/* Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .logo, .donate {
        padding: 0;
    }
}

/* Small Mobile Portrait View */
@media screen and (max-device-width: 280px) and (orientation: portrait) {
    footer {
        font-size: 13px;
    }
}

/* Small Tablet View */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .menu {
        font-size: 20px;
    }
    .logo, .donate {
        padding: 0;
    }
}

/* Tablet View */
@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {
    .menu {
        font-size: 20px;
    }
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    }
    .logo, .donate {
        padding: 15px;
    }
    .menu {
        font-size: 20px;
    }
    .back-to-top {
        display: none;
    }
}